<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.baoxiaojianapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".baoxiaojianapp.Utils.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".baoxiaojianapp.activity.AppraisalActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".baoxiaojianapp.activity.GreenhandNoticeActivity" />
        <activity android:name=".baoxiaojianapp.activity.AppraisalNoticeActivity" />
        <activity android:name=".baoxiaojianapp.activity.PrivatePolicyActivity" />
        <activity android:name=".baoxiaojianapp.activity.UserProtacalActivity" />
        <activity android:name=".baoxiaojianapp.activity.CorporationInfoActivity" />
        <activity android:name=".baoxiaojianapp.activity.AboutActivity" />
        <activity android:name=".baoxiaojianapp.activity.FeedbackActivity" />
        <activity android:name=".baoxiaojianapp.activity.SettingActivity" />
        <activity android:name=".baoxiaojianapp.activity.EditNickNameActivity" />
        <activity
            android:name=".baoxiaojianapp.activity.InfoSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baoxiaojianapp.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".baoxiaojianapp.activity.SplashActivity" />
        <activity
            android:name=".baoxiaojianapp.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <provider
            android:name=".baoxiaojianapp.Utils.MyProvider"
            android:authorities="com.example.baoxiaojianapp.filesProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>